Repository exercism/haxe, pull requests merged in 2023-08, with the labels that each got.

#103 Add atbash-cipher exercise
  config.json
  exercises/practice/atbash-cipher/.docs/instructions.md
  exercises/practice/atbash-cipher/.meta/Example.hx
  exercises/practice/atbash-cipher/.meta/config.json
  exercises/practice/atbash-cipher/.meta/tests.toml
  exercises/practice/atbash-cipher/src/AtbashCipher.hx
  exercises/practice/atbash-cipher/test.hxml
  exercises/practice/atbash-cipher/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#90 Add sublist exercise
  config.json
  exercises/practice/sublist/.docs/instructions.md
  exercises/practice/sublist/.meta/Example.hx
  exercises/practice/sublist/.meta/config.json
  exercises/practice/sublist/.meta/tests.toml
  exercises/practice/sublist/src/Sublist.hx
  exercises/practice/sublist/test.hxml
  exercises/practice/sublist/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#88 Add flatten-array exercise
  config.json
  exercises/practice/flatten-array/.docs/instructions.md
  exercises/practice/flatten-array/.meta/Example.hx
  exercises/practice/flatten-array/.meta/config.json
  exercises/practice/flatten-array/.meta/tests.toml
  exercises/practice/flatten-array/src/FlattenArray.hx
  exercises/practice/flatten-array/test.hxml
  exercises/practice/flatten-array/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#70 Add resistor-color exercise
  config.json
  exercises/practice/resistor-color/.docs/instructions.md
  exercises/practice/resistor-color/.meta/Example.hx
  exercises/practice/resistor-color/.meta/config.json
  exercises/practice/resistor-color/.meta/tests.toml
  exercises/practice/resistor-color/src/ResistorColor.hx
  exercises/practice/resistor-color/test.hxml
  exercises/practice/resistor-color/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#77 Add pangram exercise
  config.json
  exercises/practice/pangram/.docs/instructions.md
  exercises/practice/pangram/.docs/introduction.md
  exercises/practice/pangram/.meta/Example.hx
  exercises/practice/pangram/.meta/config.json
  exercises/practice/pangram/.meta/tests.toml
  exercises/practice/pangram/src/Pangram.hx
  exercises/practice/pangram/test.hxml
  exercises/practice/pangram/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#65 Add space-age exercise
  config.json
  exercises/practice/space-age/.docs/instructions.md
  exercises/practice/space-age/.meta/Example.hx
  exercises/practice/space-age/.meta/config.json
  exercises/practice/space-age/.meta/tests.toml
  exercises/practice/space-age/src/SpaceAge.hx
  exercises/practice/space-age/test.hxml
  exercises/practice/space-age/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#78 Add rna-transcription exercise
  config.json
  exercises/practice/rna-transcription/.docs/instructions.md
  exercises/practice/rna-transcription/.docs/introduction.md
  exercises/practice/rna-transcription/.meta/Example.hx
  exercises/practice/rna-transcription/.meta/config.json
  exercises/practice/rna-transcription/.meta/tests.toml
  exercises/practice/rna-transcription/src/RnaTranscription.hx
  exercises/practice/rna-transcription/test.hxml
  exercises/practice/rna-transcription/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#67 Add nucleotide-count exercise
  config.json
  exercises/practice/nucleotide-count/.docs/instructions.md
  exercises/practice/nucleotide-count/.meta/Example.hx
  exercises/practice/nucleotide-count/.meta/config.json
  exercises/practice/nucleotide-count/.meta/tests.toml
  exercises/practice/nucleotide-count/src/NucleotideCount.hx
  exercises/practice/nucleotide-count/test.hxml
  exercises/practice/nucleotide-count/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#71 Add resistor-color-duo exercise
  config.json
  exercises/practice/resistor-color-duo/.docs/instructions.md
  exercises/practice/resistor-color-duo/.meta/Example.hx
  exercises/practice/resistor-color-duo/.meta/config.json
  exercises/practice/resistor-color-duo/.meta/tests.toml
  exercises/practice/resistor-color-duo/src/ResistorColorDuo.hx
  exercises/practice/resistor-color-duo/test.hxml
  exercises/practice/resistor-color-duo/test/Test.hx
Labels: x:module/practice-exercise, x:size/medium

#79 Add isogram exercise
  config.json
  exercises/practice/isogram/.docs/instructions.md
  exercises/practice/isogram/.meta/Example.hx
  exercises/practice/isogram/.meta/config.json
  exercises/practice/isogram/.meta/tests.toml
  exercises/practice/isogram/src/Isogram.hx
  exercises/practice/isogram/test.hxml
  exercises/practice/isogram/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#76 Add reverse-string exercise
  config.json
  exercises/practice/reverse-string/.docs/instructions.md
  exercises/practice/reverse-string/.meta/Example.hx
  exercises/practice/reverse-string/.meta/config.json
  exercises/practice/reverse-string/.meta/tests.toml
  exercises/practice/reverse-string/src/ReverseString.hx
  exercises/practice/reverse-string/test.hxml
  exercises/practice/reverse-string/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#84 Add scrabble-score exercise
  config.json
  exercises/practice/scrabble-score/.docs/instructions.md
  exercises/practice/scrabble-score/.meta/Example.hx
  exercises/practice/scrabble-score/.meta/config.json
  exercises/practice/scrabble-score/.meta/tests.toml
  exercises/practice/scrabble-score/src/ScrabbleScore.hx
  exercises/practice/scrabble-score/test.hxml
  exercises/practice/scrabble-score/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#82 Add collatz-conjecture exercise
  config.json
  exercises/practice/collatz-conjecture/.docs/instructions.md
  exercises/practice/collatz-conjecture/.meta/Example.hx
  exercises/practice/collatz-conjecture/.meta/config.json
  exercises/practice/collatz-conjecture/.meta/tests.toml
  exercises/practice/collatz-conjecture/src/CollatzConjecture.hx
  exercises/practice/collatz-conjecture/test.hxml
  exercises/practice/collatz-conjecture/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#246 Fix missing author
  exercises/practice/rna-transcription/.meta/config.json
Labels: x:action/fix, x:rep/small

#81 Add perfect-numbers exercise
  config.json
  exercises/practice/perfect-numbers/.docs/instructions.md
  exercises/practice/perfect-numbers/.meta/Example.hx
  exercises/practice/perfect-numbers/.meta/config.json
  exercises/practice/perfect-numbers/.meta/tests.toml
  exercises/practice/perfect-numbers/src/PerfectNumbers.hx
  exercises/practice/perfect-numbers/test.hxml
  exercises/practice/perfect-numbers/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#251 CI tweaks across the board
  exercises/practice/armstrong-numbers/test.hxml
  exercises/practice/atbash-cipher/test.hxml
  exercises/practice/atbash-cipher/test/Test.hx
  exercises/practice/collatz-conjecture/test.hxml
  exercises/practice/dnd-character/test.hxml
  exercises/practice/dnd-character/test/Test.hx
  exercises/practice/flatten-array/test.hxml
  exercises/practice/forth/test/Test.hx
  exercises/practice/grains/test.hxml
  exercises/practice/grains/test/Test.hx
  exercises/practice/isogram/test.hxml
  exercises/practice/kindergarten-garden/test/Test.hx
  exercises/practice/nucleotide-count/test.hxml
  exercises/practice/pangram/test.hxml
  exercises/practice/perfect-numbers/test.hxml
  exercises/practice/pig-latin/test/Test.hx
  exercises/practice/queen-attack/test/Test.hx
  exercises/practice/raindrops/test.hxml
  exercises/practice/resistor-color-duo/test.hxml
  exercises/practice/resistor-color-trio/test.hxml
  exercises/practice/resistor-color/test.hxml
  exercises/practice/reverse-string/test.hxml
  exercises/practice/rna-transcription/test.hxml
  exercises/practice/scrabble-score/test.hxml
  exercises/practice/space-age/test.hxml
  exercises/practice/sublist/test.hxml
  exercises/practice/triangle/test.hxml
  exercises/practice/triangle/test/Test.hx
  exercises/practice/twelve-days/test/Test.hx
Labels: x:type/ci, x:rep/small

#252 Remove space-age rounding requirement for students
  exercises/practice/space-age/.meta/Example.hx
  exercises/practice/space-age/test/Test.hx
Labels: x:module/practice-exercise, x:rep/tiny

#92 Sum of multiples
  config.json
  exercises/practice/sum-of-multiples/.docs/instructions.md
  exercises/practice/sum-of-multiples/.docs/introduction.md
  exercises/practice/sum-of-multiples/.meta/Example.hx
  exercises/practice/sum-of-multiples/.meta/config.json
  exercises/practice/sum-of-multiples/.meta/tests.toml
  exercises/practice/sum-of-multiples/src/SumOfMultiples.hx
  exercises/practice/sum-of-multiples/test.hxml
  exercises/practice/sum-of-multiples/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#91 Add ETL excercise
  bin/build.sh
  config.json
  exercises/practice/etl/.docs/instructions.md
  exercises/practice/etl/.docs/introduction.md
  exercises/practice/etl/.meta/Example.hx
  exercises/practice/etl/.meta/config.json
  exercises/practice/etl/.meta/tests.toml
  exercises/practice/etl/src/Etl.hx
  exercises/practice/etl/test.hxml
  exercises/practice/etl/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium
