Repository exercism/haxe, pull requests merged in 2023-09, with the labels that each got.

#83 Add phone-number exercise
  config.json
  exercises/practice/phone-number/.docs/instructions.md
  exercises/practice/phone-number/.meta/Example.hx
  exercises/practice/phone-number/.meta/config.json
  exercises/practice/phone-number/.meta/tests.toml
  exercises/practice/phone-number/src/PhoneNumber.hx
  exercises/practice/phone-number/test.hxml
  exercises/practice/phone-number/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#87 Add list-ops exercise
  config.json
  exercises/practice/list-ops/.docs/instructions.md
  exercises/practice/list-ops/.meta/Example.hx
  exercises/practice/list-ops/.meta/config.json
  exercises/practice/list-ops/.meta/tests.toml
  exercises/practice/list-ops/src/ListOps.hx
  exercises/practice/list-ops/test.hxml
  exercises/practice/list-ops/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#94 Add series exercise
  config.json
  exercises/practice/series/.docs/instructions.md
  exercises/practice/series/.meta/Example.hx
  exercises/practice/series/.meta/config.json
  exercises/practice/series/.meta/tests.toml
  exercises/practice/series/src/Series.hx
  exercises/practice/series/test.hxml
  exercises/practice/series/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#255 Update README.md
  README.md
Labels: x:type/docs, x:rep/tiny

#104 Add sieve exercise
  config.json
  exercises/practice/sieve/.docs/instructions.md
  exercises/practice/sieve/.docs/introduction.md
  exercises/practice/sieve/.meta/Example.hx
  exercises/practice/sieve/.meta/config.json
  exercises/practice/sieve/.meta/tests.toml
  exercises/practice/sieve/src/Sieve.hx
  exercises/practice/sieve/test.hxml
  exercises/practice/sieve/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#106 Add yacht exercise
  config.json
  exercises/practice/yacht/.docs/instructions.md
  exercises/practice/yacht/.meta/Example.hx
  exercises/practice/yacht/.meta/config.json
  exercises/practice/yacht/.meta/tests.toml
  exercises/practice/yacht/src/Yacht.hx
  exercises/practice/yacht/test.hxml
  exercises/practice/yacht/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#93 Add largest-series-product exercise
  config.json
  exercises/practice/largest-series-product/.docs/instructions.md
  exercises/practice/largest-series-product/.docs/introduction.md
  exercises/practice/largest-series-product/.meta/Example.hx
  exercises/practice/largest-series-product/.meta/config.json
  exercises/practice/largest-series-product/.meta/tests.toml
  exercises/practice/largest-series-product/src/LargestSeriesProduct.hx
  exercises/practice/largest-series-product/test.hxml
  exercises/practice/largest-series-product/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#98 Add proverb exercise
  config.json
  exercises/practice/proverb/.docs/instructions.md
  exercises/practice/proverb/.meta/Example.hx
  exercises/practice/proverb/.meta/config.json
  exercises/practice/proverb/.meta/tests.toml
  exercises/practice/proverb/src/Proverb.hx
  exercises/practice/proverb/test.hxml
  exercises/practice/proverb/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#96 Add all-your-base exercise
  config.json
  exercises/practice/all-your-base/.docs/instructions.md
  exercises/practice/all-your-base/.meta/Example.hx
  exercises/practice/all-your-base/.meta/config.json
  exercises/practice/all-your-base/.meta/tests.toml
  exercises/practice/all-your-base/src/AllYourBase.hx
  exercises/practice/all-your-base/test.hxml
  exercises/practice/all-your-base/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#95 Add prime-factors exercise
  config.json
  exercises/practice/prime-factors/.docs/instructions.md
  exercises/practice/prime-factors/.meta/Example.hx
  exercises/practice/prime-factors/.meta/config.json
  exercises/practice/prime-factors/.meta/tests.toml
  exercises/practice/prime-factors/src/PrimeFactors.hx
  exercises/practice/prime-factors/test.hxml
  exercises/practice/prime-factors/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#86 Add accumulate exercise
  config.json
  exercises/practice/accumulate/.docs/instructions.md
  exercises/practice/accumulate/.meta/Example.hx
  exercises/practice/accumulate/.meta/config.json
  exercises/practice/accumulate/.meta/tests.toml
  exercises/practice/accumulate/src/Accumulate.hx
  exercises/practice/accumulate/test.hxml
  exercises/practice/accumulate/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#99 Add strain exercise
  config.json
  exercises/practice/strain/.docs/instructions.md
  exercises/practice/strain/.meta/Example.hx
  exercises/practice/strain/.meta/config.json
  exercises/practice/strain/.meta/tests.toml
  exercises/practice/strain/src/Strain.hx
  exercises/practice/strain/test.hxml
  exercises/practice/strain/test/Test.hx
  exercises/strain/README.md
Labels: x:module/practice-exercise, x:rep/medium

#100 Add beer-song exercise
  config.json
  exercises/practice/beer-song/.docs/instructions.md
  exercises/practice/beer-song/.meta/Example.hx
  exercises/practice/beer-song/.meta/config.json
  exercises/practice/beer-song/.meta/tests.toml
  exercises/practice/beer-song/src/BeerSong.hx
  exercises/practice/beer-song/test.hxml
  exercises/practice/beer-song/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#191 annalyn: Clarify description
  exercises/concept/annalyns-infiltration/.docs/instructions.md
Labels: x:module/concept-exercise, x:rep/tiny

#159 Concepts booleans
  exercises/concept/annalyns-infiltration/.meta/config.json
Labels: x:rep/tiny

#69 Add robot-name exercise
  config.json
  exercises/practice/robot-name/.docs/instructions.md
  exercises/practice/robot-name/.meta/Example.hx
  exercises/practice/robot-name/.meta/config.json
  exercises/practice/robot-name/src/RobotName.hx
  exercises/practice/robot-name/test.hxml
  exercises/practice/robot-name/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#259 Format annalyn-infiltration's config.json
  exercises/concept/annalyns-infiltration/.meta/config.json
Labels: x:rep/tiny

#258 Remove old strain README
  exercises/strain/README.md
Labels: x:rep/tiny

#113 Add matrix exercise
  config.json
  exercises/practice/matrix/.docs/instructions.md
  exercises/practice/matrix/.meta/Example.hx
  exercises/practice/matrix/.meta/config.json
  exercises/practice/matrix/.meta/tests.toml
  exercises/practice/matrix/src/Matrix.hx
  exercises/practice/matrix/test.hxml
  exercises/practice/matrix/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#102 Add house exercise
  config.json
  exercises/practice/house/.docs/instructions.md
  exercises/practice/house/.meta/Example.hx
  exercises/practice/house/.meta/config.json
  exercises/practice/house/.meta/tests.toml
  exercises/practice/house/src/House.hx
  exercises/practice/house/test.hxml
  exercises/practice/house/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#89 Add binary-search-tree exercise
  config.json
  exercises/practice/binary-search-tree/.docs/instructions.md
  exercises/practice/binary-search-tree/.meta/Example.hx
  exercises/practice/binary-search-tree/.meta/config.json
  exercises/practice/binary-search-tree/.meta/tests.toml
  exercises/practice/binary-search-tree/src/BinarySearchTree.hx
  exercises/practice/binary-search-tree/test.hxml
  exercises/practice/binary-search-tree/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#111 Add minesweeper exercise
  config.json
  exercises/practice/minesweeper/.docs/instructions.md
  exercises/practice/minesweeper/.meta/Example.hx
  exercises/practice/minesweeper/.meta/config.json
  exercises/practice/minesweeper/.meta/tests.toml
  exercises/practice/minesweeper/src/Minesweeper.hx
  exercises/practice/minesweeper/test.hxml
  exercises/practice/minesweeper/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#75 Add tournament exercise
  config.json
  exercises/practice/tournament/.docs/instructions.md
  exercises/practice/tournament/.meta/Example.hx
  exercises/practice/tournament/.meta/config.json
  exercises/practice/tournament/.meta/tests.toml
  exercises/practice/tournament/src/Tournament.hx
  exercises/practice/tournament/test.hxml
  exercises/practice/tournament/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#257 Add datetime library to test CI
  .github/workflows/test.yml
Labels: x:type/ci, x:rep/tiny

#105 Add robot-simulator exercise
  config.json
  exercises/practice/robot-simulator/.docs/instructions.md
  exercises/practice/robot-simulator/.meta/Example.hx
  exercises/practice/robot-simulator/.meta/config.json
  exercises/practice/robot-simulator/.meta/tests.toml
  exercises/practice/robot-simulator/src/RobotSimulator.hx
  exercises/practice/robot-simulator/test.hxml
  exercises/practice/robot-simulator/test/Test.hx
  exercises/robot-simulator/.meta/tests.toml
  exercises/robot-simulator/README.md
Labels: x:module/practice-exercise, x:rep/medium

#68 Add grade-school exercise
  config.json
  exercises/practice/grade-school/.docs/instructions.md
  exercises/practice/grade-school/.meta/Example.hx
  exercises/practice/grade-school/.meta/config.json
  exercises/practice/grade-school/.meta/tests.toml
  exercises/practice/grade-school/src/GradeSchool.hx
  exercises/practice/grade-school/test.hxml
  exercises/practice/grade-school/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#64 Add gigasecond exercise
  config.json
  exercises/practice/gigasecond/.docs/instructions.append.md
  exercises/practice/gigasecond/.docs/instructions.md
  exercises/practice/gigasecond/.docs/introduction.md
  exercises/practice/gigasecond/.meta/Example.hx
  exercises/practice/gigasecond/.meta/config.json
  exercises/practice/gigasecond/.meta/tests.toml
  exercises/practice/gigasecond/src/Gigasecond.hx
  exercises/practice/gigasecond/test.hxml
  exercises/practice/gigasecond/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#262 Update log levels
  exercises/concept/log-levels/.meta/Exemplar.hx
  exercises/concept/log-levels/.meta/config.json
  exercises/concept/log-levels/LogLevels.hx
Labels: x:rep/tiny

#263 Update annalyn-infiltration
  exercises/concept/annalyns-infiltration/.meta/config.json
  exercises/concept/annalyns-infiltration/AnnalynsInfiltration.hx
  exercises/concept/annalyns-infiltration/test/Test.hx
Labels: x:size/tiny

#85 Add meetup exercise
  config.json
  exercises/practice/meetup/.docs/instructions.md
  exercises/practice/meetup/.meta/Example.hx
  exercises/practice/meetup/.meta/config.json
  exercises/practice/meetup/.meta/tests.toml
  exercises/practice/meetup/src/Meetup.hx
  exercises/practice/meetup/test.hxml
  exercises/practice/meetup/test/Test.hx
Labels: x:module/practice-exercise, x:rep/medium

#267 Convert backtick (`) admonition fences to tildes (~)
  exercises/practice/binary-search/.docs/instructions.md
  exercises/practice/etl/.docs/instructions.md
  exercises/practice/gigasecond/.docs/introduction.md
  exercises/practice/pangram/.docs/introduction.md
  exercises/practice/rna-transcription/.docs/instructions.md
  exercises/practice/rna-transcription/.docs/introduction.md
  exercises/practice/secret-handshake/.docs/instructions.md
  exercises/practice/sieve/.docs/instructions.md
Labels: x:size/tiny
